:root{
    --azul: blue;
    --verde: rgb(0, 255, 64);
    --vermelha: red;
    --preta:#141414;

}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(/imgpg1/bg-ilha.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
} 

header .logo {
    margin-left: 15px;
    color: #24ebc0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

header nav a{
    text-decoration: none;
    color: #24ebc0;
    margin-right: 15px;
}

header nav a:hover{
    color: black;
}

.boasvindas {
    margin-left: 3px;
    margin-top: 10px; 
    width: 85%;
}
.descricao {
    margin-left: 15px;
    margin-top: 10px; 
    width: 75%;
    margin-bottom: 300px;
    background-color: #24ebc035;
    font-size: 18px;
}


/*bemvindo*/
.nativos {
    margin-left: 1em;
    margin-top: -1em;
    margin-bottom: -8em;

}
.bemvindo {
    font-size: 30px;
    height: 995px;
    margin-top: 100px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.bemvindo .descricao {
    margin-top: 10px;
    padding: 20px;
    color: white;
    margin-left: 15px;
}

.titulo {
    margin-top: 300px;
    margin-left: 15px;
    font-size: 35px;
    font-family:Arial, Helvetica, sans-serif ;
    color: #24ebc0;
}
.botao {
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
    padding: 10px 10px;
    margin-right: 150px;
    margin-left: -10px;
    font-size: 13px;
    cursor: pointer;
    transition: .4s ease all;
    align-items: center; 
    margin-bottom: 20px;  
    border-radius: 5px;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botoes {
    margin-left: 200px;
    margin-top: -260px;
    
}
  
.fundo-branco{
    width: 100%;
    height: 300px;
    margin-top: 195px;
    margin-bottom: 200px;
    background: #24ebc099;
}
  
.carrocel {
    height: 410px;
    width: 750px;
    overflow: hidden;
    position:absolute;
    top: 140%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 51%;
    transform: translate(-50%);
    display: flex;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    position: relative;
    animation: slides 25s infinite ease-out;
}

@keyframes slides {
    5%{left:0%}
    20%{left: -100%} 
    40%{left: -200%} 
    60%{left: -300%}
    80%{left: -400%}
    100%{left:-500%}
    100%{left: -0%}
}
.slide img {
    width: 100%;
    height: 100%;
}


.slide {
    width: 20%;transition: .6s;
    margin-left: 40px;
}


/*

#slide1:checked ~ .sld01 {
    margin-left: -0;
}

#slide2:checked ~ .sld01 {
    margin-left: -20%;
}

#slide3:checked ~ .sld01 {
    margin-left: -40%;
}

#slide4:checked ~ .sld01 {
    margin-left: -60%;
}

#slide5:checked ~ .sld01 {
    margin-left: -80%;
}*/