
@media screen  and (max-width: 936px ){
    header .container, .nativos{
        width: 830px;
        display: flex;
        flex-direction: column;
        margin: 17px;
        justify-items: center;
        align-items: center;
        
    }
}
@media screen  and (max-width: 936px ){
    header{
        margin-bottom: -180px;
    }
}

@media screen  and (max-width: 861px ){
    header .container, .nativos{
        width: 830px;
        display: flex;
        flex-direction: column;
        margin: 17px;
        justify-items: center;
        align-items: center;
        
    }
}
@media screen  and (max-width: 821px ){
    header .container, .nativos{
        width: 820px;
        display: flex;
        flex-direction: column;
        margin: 17px;
        justify-items: center;
        align-items: center;
        
    }
}
@media screen  and (max-width: 750px ){
    header .container, .nativos{
        width: 748px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 700px ){
    header .container, .nativos{
        width: 690px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 665px ){
    header .container, .nativos{
        width: 630px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 630px ){
    header .container, .nativos{
        width: 600px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 610px ){
    header .container, .nativos{
        width: 550px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 592px ){
    header .container, .nativos{
        width: 450px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 490px ){
    header .container, .nativos{
        width: 430px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        justify-items: center;
        align-items: center;
    }
}
@media screen  and (max-width: 475px ){
    header .container, .nativos{
        width: 410px;
        display: flex;                         
        flex-direction: column;
        margin-left: 5px;
        justify-items: center;
        align-items: center;
        font-size: 14px;
    }
}
@media screen  and (max-width: 450px ){
    header .container, .nativos{
        width: 450px;
        display: flex;
        flex-direction: column;
        margin-left: -18px;
        justify-items: center;
        align-items: center;
        font-size: 13px;
    }
}
@media screen  and (max-width: 412px ){
    header .container, .nativos{
        width: 406px;
        display: flex;
        flex-direction: column;
        margin-left: -18px;
        justify-items: center;
        align-items: center;
        font-size: 13px;
    }
}

@media screen  and (max-width: 593px ){
    header .logo{
   width: 500px;
   display: flex;
   flex-direction: column;
   margin-left: 20px;
   justify-items: center;
   align-items: center;
   font-size: 32px;
    }
}

@media screen  and (max-width: 475px ){
    header .logo{
   width: 450px;
   display: flex;
   flex-direction: column;
   margin-left: 11px;
   justify-items: center;
   align-items: center;
   font-size: 25px;
    }
}
@media screen  and (max-width: 430px ){
    header .logo{
   width: 410px;
   display: flex;
   flex-direction: column;
   margin-left: 11px;
   margin-right: 20px;
   justify-items: center;
   align-items: center;
   font-size: 22px;
    }
}
@media screen  and (max-width: 410px ){
    header .logo{
   width: 400px;
   display: flex;
   flex-direction: column;
   margin-left: 11px;
   margin-right: 10px;
   justify-items: center;
   align-items: center;
   font-size: 22px;
    }
}

@media screen  and (max-width: 375px ){
    header .logo{
   width: 370px;
   display: flex;
   flex-direction: column;
   margin-left: 45px;
   margin-right: 25px;
   justify-items: center;
   align-items: center;
   font-size: 24px;
    }
}
@media screen  and (max-width: 360px ){
    header .logo{
   width: 340px;
   display: flex;
   flex-direction: column;
   margin-left: 35px;
   margin-right: 25px;
   justify-items: center;
   align-items: center;
   font-size: 24px;
    }
}

@media screen  and (max-width: 380px ){
    header .container, .nativos{
        width: 375px;
        display: flex;
        flex-direction: column;
        margin-left: -17px;
        justify-items: center;
        align-items: center;
        font-size: 13px;
    }
}
@media screen  and (max-width: 360px ){
    header .container, .nativos{
        width: 355px;
        display: flex;
        flex-direction: column;
        margin-left: -11px;
        justify-items: center;
        align-items: center;
        font-size: 12.5px;
    }
}
@media screen  and (max-width: 355px ){
    header .container, .nativos{
        width: 350px;
        display: flex;
        flex-direction: column;
        margin-left: -11px;
        justify-items: center;
        align-items: center;
        font-size: 13px;
    }
}
@media screen  and (max-width: 340px ){
    header .container, .nativos{
        width: 310px;
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        justify-items: center;
        align-items: center;
        font-size: 12px;
    }
}
/*======== CABEÇALHO =========*/
/*======== BOASVINDAS ========*/
@media screen  and (max-width: 936px ){
    header .boasvindas{
        width: 310px;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
}
@media screen  and (max-width: 360px ){
    header .boasvindas{
        width: 100px;
        display: flex;
        flex-direction: column;
        margin: 30px;
    }
}
@media screen  and (max-width: 565px ){
     .titulo{
        font-size: 24px;
    }
}
@media screen  and (max-width: 410px ){
    .titulo{
       font-size: 20px;
   }
}
@media screen  and (max-width: 361px ){
    .titulo{
       font-size: 20px;
   }
}
@media screen  and (max-width: 341px ){
    .titulo{
       font-size: 19px;
   }
}
@media screen  and (max-width: 361px ){
    .descricao{
       font-size: 8.5px;
   }
}
@media screen  and (max-width: 410px ){
    .descricao{
       font-size: 10px;
   }
}
@media screen  and (max-width: 565px ){
    .descricao{
       font-size: 15px;
   }
}
@media screen  and (max-width: 1116px ){
    .botao{
       font-size: 15px;
       margin-left: -70px;
   }
}
@media screen  and (max-width: 870px ){
    .botao{
       font-size: 15px;
       margin-left: -110px;
   }
}
@media screen  and (max-width: 750px ){
    .botao{
       font-size: 15px;
       margin-left: -50px;
   }
}
@media screen  and (max-width: 620px ){
    .botao{
       font-size: 12px;
       margin-left: -59px;
   }
}
@media screen  and (max-width: 531px ){
    .botao{
       font-size: 12px;
       margin-left: -100Px;
   }
}
@media screen  and (max-width: 500px ){
    .botao{
       font-size: 10px;
       margin-left: -100px;
   }
}
@media screen  and (max-width: 458px ){
    .botao{
       font-size: 10px;
       margin-left: -130px;
   }
}
@media screen  and (max-width: 424px ){
    .botao{
       font-size: 10px;
       margin-left: -160px;
   }
}
@media screen  and (max-width: 389px ){
    .botao{
       font-size: 9.5px;
       margin-left: -175px;
   }
}
@media screen  and (max-width: 364px ){
    .botao{
        width: 100px 100px;
       font-size: 9px;
       margin-left: -175px;
   }
}
@media screen  and (max-width: 360px ){
    .botao{
       width: 100px 100px;
       font-size: 8px;
       margin-left: -150px;
   }
}